.container {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 720px;
  min-height: 538px;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  background-color: #000;
  z-index: 2;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
